body {
  background: whitesmoke;
  font-family: "Kanit", sans-serif;
}
.app-box {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  border-radius: 16px;
}

header {
  border-bottom: 1px solid #5f5dbd;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #95e8d7;
  border: none;
  border-radius: 6px;
  width: 60%;
  padding: 15px 20px;
  font-size: 18px;
}

.search-form-button {
  background-color: #7dace4;
  border: none;
  border-radius: 6px;
  padding: 15px 20px;
  font-size: 18px;
  color: aliceblue;
  font-size: 18px;
  margin-left: 8px;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  color: #3c3b91;
}

.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: #7dace4;
}
.weather-app-details strong {
  color: #e1532c;
  font-weight: 400;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 65px;
  margin-top: 11px;
}
.weather-app-temperature {
  font-size: 70px;
  font-weight: bold;
  color: #3c3b91;
}

.weather-app-unite {
  margin-top: 20px;
  font-size: 23px;
  color: #3c3b91;
}
footer {
  border-top: 1px solid #95e8d7;
  padding: 20px 0 0 0;
  text-align: center;
  color: #3c3b91;
  margin-top: 30px;
}
a {
  color: #7dace4;
}
